* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

#native-language-combobox #first-option {
  color: gray;
}
#technology-combobox #first-option {
  color: gray;
}
select,
#start-date,
#end-date {
  color: gray;
  cursor: pointer;
}
#native-language-combobox,
#technology-combobox,
#start-date,
#end-date {
  width: 95%;
  height: 7vh;
  border-color: #a9a9a9;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  border-radius: 0.2rem;
  user-select: none;
}

select:hover,
#start-date,
#end-date {
  outline: 1px solid black;
}
select:focus,
#start-date,
#end-date {
  outline: 1px solid #3f50b5;
  border: 1px solid #3f50b5;
}

#login-page {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login-card {
  padding-top: 20px;
  padding-bottom: 36px;
  margin-bottom: 10vh;
  width: 30vw;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 12px;
  display: inline-block;
  width: 70%;
}
.login-button:hover {
  background-color: #0042ac;
}

.google {
  background-color: #045ae4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
@media (max-width: 1268px) {
  #login-card {
    width: 50vw;
  }

  .login-button {
    width: 60%;
  }
}
@media (max-width: 968px) {
  #login-card {
    width: 50vw;
  }
  .login-button {
    width: 80%;
  }
}
@media (max-width: 588px) {
  #login-card {
    width: 85vw;
  }

  .login-button {
    width: 85%;
  }
  #login-card {
    margin-bottom: 5vh;
  }
  .message-form {
    width: 100%;
    padding: 0px 2px;
  }
  .button {
    margin-bottom: 15vh;
  }
  .message-form-container {
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100vw;
    padding: 0;
    background-color: #ffffff;
  }
}

@media (max-width: 348px) {
  #login-card {
    width: 95vw;
  }

  .login-button {
    width: 90%;
  }
}
